<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI对话</title>
    <link rel="stylesheet" href="./dist/layui/css/layui.css">
    <script src="./dist/layui/layui.js"></script>
    <link rel="stylesheet" href="./css/AIChat.css">
    <script src="./dist/qwebchannel.js"></script>
    <link rel="stylesheet" href="./global/typeit_cy/typeit_cy.css">
    <script src="./global/typeit_cy/typeit_cy.js"></script>
</head>

<body>
    <div class="sidebar">
        <h2> <span id="title" class="typeit_text_css"></span></h2>
        <button class="new-chat-btn" onclick="newChat()">新建聊天</button>
        <ul class="chat-list" id="chat-list">
        </ul>
        <button class="logout-btn" onclick="logout()">退出登录</button>
    </div>
    <div class="main-content">
        <div class="message-container" id="message-container">
            <!-- 消息将在这里显示 -->
        </div>
        <div class="input-area">
            <textarea class="input-field" id="input-field" placeholder="输入消息..."></textarea>
            <button class="send-btn" onclick="sendMessage()">发送</button>
        </div>
    </div>
    <script>
        let user_data = null;
        let messageContainer = null;
        let currentChat = null;
        let new_chat = true;
        let now_index = 0;
        let max_index = 0;
        window.onload = function () {
            messageContainer = document.getElementById('message-container');



            new QWebChannel(qt.webChannelTransport, function (channel) {
                // 从channel中获取到我们注册到channel中的Factorial类对象
                window.func = channel.objects.obj;
                setChatList(() => {
                    newChat();
                });
                // 用户信息
                window.func.user_data_cy("", (result) => {
                    result = JSON.parse(result);
                    console.log(result);
                    user_data = result.data;
                    typeit({
                        select: '#title',
                        strings: [`你好${user_data.name}`, '欢迎使用CYAI',`你好${user_data.name},欢迎使用CYAI`],
                        lifeLike: true,
                        loop: false
                    });
                })
            });
            // 设置回车键
            document.onkeydown = function (event) {
                if (event.key === 'Enter') {
                    sendMessage();
                }
            }
        };
        function start_reply_cy() {
            window.func.start_reply_cy("", (result) => {
                result = JSON.parse(result);
                console.log(result);
                addMessage(result.data.answer, 'ai');
            })
        }

        /*
        *新建聊天
        */
        function newChat() {
            new_chat = true;
            document.getElementById('message-container').innerHTML = ''; // 清除之前的对话
            // 删除active
            const activeChatItems = document.querySelectorAll('.chat-item.active');
            activeChatItems.forEach(item => {
                item.classList.remove('active');
            });

            now_index = max_index + 1
            start_reply_cy()
        }


        /*
        *在聊天列表开头中添加新的聊天
        */
        function newChatList(title, index) {
            const chatList = document.getElementById('chat-list');
            const newChatItem = document.createElement('li');
            newChatItem.className = 'chat-item';
            newChatItem.textContent = title;
            newChatItem.onclick = () => { loadChat(newChatItem, index) };
            newChatItem.oncontextmenu = (event) => showDeleteMenu(event, newChatItem);
            const deleteIcon = document.createElement('i');
            
            deleteIcon.className = 'layui-icon layui-icon-delete delete-icon';
            deleteIcon.style.fontSize = '23px';
            deleteIcon.onclick = (event) => {
                event.stopPropagation();
                deleteChat(newChatItem, index)
            };
            newChatItem.appendChild(deleteIcon);
            const downIcon = document.createElement('i');
            downIcon.className = 'layui-icon layui-icon-export file-icon';
            downIcon.style.fontSize = deleteIcon.style.fontSize;
            downIcon.onclick = (event) => {
                event.stopPropagation();
                downChat(index)
            };
            newChatItem.appendChild(downIcon);
            if (index == now_index) {
                newChatItem.classList.add('active');
            }
            chatList.insertBefore(newChatItem, chatList.firstChild);
        }

        /*
        *选择聊天
        */
        function loadChat(chatItem, index) {
            now_index = index
            currentChat = chatItem.textContent;
            document.getElementById('message-container').innerHTML = ''; // 清除之前的对话
            chatItem.classList.add('active'); // 高亮选中的对话
            Array.from(document.getElementsByClassName('chat-item')).forEach(item => {
                if (item !== chatItem) {
                    item.classList.remove('active');
                }
            });
            rq_data = { index }
            window.func.get_chat_data_cy(JSON.stringify(rq_data), (result) => {
                result = JSON.parse(result);
                console.log(result);
                for (let i = 0; i < result.data.length; i++) {
                    addMessage(result.data[i].content, result.data[i].type, false);
                }
            })
        }
        /**
         * 设置聊天列表
         * */
        function setChatList(callback = null) {
            const chatList = document.getElementById('chat-list');
            chatList.innerHTML = '';
            window.func.get_chat_list_title_cy("", (result) => {
                result = JSON.parse(result);
                max_index = result.data.length - 1

                for (let i = 0; i < result.data.length; i++) {
                    newChatList(result.data[i], i);
                }
                callback && callback();
            })
        }
        function sendMessage() {
            const inputField = document.getElementById('input-field');
            const messageText = inputField.value.trim();
            if (!messageText) return;

            addMessage(messageText, 'user');
            generateAIResponse(messageText);
            inputField.value = '';
            setChatList();
        }


        function addMessage(text, type, typeit_text = true) {
            // const messageContainer = document.getElementById('message-container');
            const messageDiv = document.createElement('div');
            messageDiv.className = `messageBox ${type}_messageBox`;
            const messageSpan = document.createElement('span');
            messageSpan.className = `message ${type}_message`;
            messageDiv.appendChild(messageSpan);
            if (type == "ai") {

            }
            messageContainer.appendChild(messageDiv);
            if (type == 'ai' && typeit_text) {
                // messageSpan.classList.add('typeit_text_css');
                typeit({
                    element: messageSpan,
                    strings: [text],
                    lifeLike: true,
                    loop: false,
                    min_speed: 0,
                    max_speed: 200,
                    max_line_length: 1,
                    callback_one_txt: () => {
                        messageContainer.scrollTop = messageContainer.scrollHeight; // 滚动到底部
                    },
                    callback: () => {
                        messageContainer.scrollTop = messageContainer.scrollHeight; // 滚动到底部
                    }
                });
            } else {
                messageSpan.textContent = text;
            }
        }

        /**
         * 生成AI回复
         * */
        function generateAIResponse(userMessage) {
            data = {
                key: userMessage,
                num: 0,
                chat_index: now_index
            }
            window.func.chat_ai_cy(JSON.stringify(data), (result) => {
                result = JSON.parse(result);
                console.log(result);
                addMessage(result.data.answer, 'ai');
            });
        }

        function showDeleteMenu(event, chatItem) {
            // 显示删除菜单
            event.preventDefault();
            const deleteIcon = chatItem.querySelector('.delete-icon');
            deleteIcon.style.display = 'block';
        }

        function deleteChat(chatItem, index) {
            layer.alert('确定删除这个聊天？', { skin: 'layui-layer-win10', shade: 0.01, btn: ['确定', '取消'] }, function () {
                data = { index }
                window.func.delete_chat_list_cy(JSON.stringify(data), (result) => {
                    result = JSON.parse(result);
                    console.log(result);
                    setChatList();
                    layer.msg('删除成功');
                });
            }, function () {
                // layer.msg('点击取消的回调');
            });
        }
        function downChat(index) {
            data = { index }
            window.func.keep_chat_data_cy(JSON.stringify(data), (result) => {
                result = JSON.parse(result);
                console.log(result);
                if (result.err_code == 0) {
                    layer.msg('保存成功');
                } else {
                    layer.msg('保存失败');
                }
            })
        }
        function logout() {
            layer.alert('确定要退出登录？', { skin: 'layui-layer-win10', shade: 0.01, btn: ['确定', '取消'] }, function () {
                window.func.logout_cy("", (result) => {
                result = JSON.parse(result);
                console.log(result);
                if (result.err_code == 0) {
                    layer.msg('退出成功');
                } else {
                    layer.msg('退出失败');
                }
            })
            }, function () {
                // layer.msg('点击取消的回调');
            });

        }
    </script>
</body>

</html>