<!DOCTYPE html>
<html lang="en">

<head>
    <title>登入222</title>
    <script src="./js/global/vue.global.js"></script>
    <link rel="stylesheet" href="./css/global/all.min.css">
    <link href="./css/global/css2.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/Login.css">
    <link rel="stylesheet" href="./css/global/global.css">
</head>

<body>
    <div id="app">
        <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
        </div>
        <div>
            <form v-if="isLogin">
                <h3>登录</h3>
                <label for="username">学号</label>
                <input type="text" placeholder="请输入学号" id="username">
                <label for="password">密码</label>
                <input type="password" placeholder="请输入密码" id="password">
                <button>登录</button>
                <div class="social">
                    <div class="msg">还没有账号</div> <div class="btn" @click="isLogin = !isLogin">点击注册</div>
                </div>
            </form>
            <form v-else>
                <h3>注册</h3>
                <label for="username">学号</label>
                <input type="text" placeholder="请输入学号" id="username">
                <label for="password">密码</label>
                <input type="password" placeholder="请输入密码" id="password">
                <button>注册</button>
                <div class="social">
                    <div class="msg">以有账号</div> <div class="btn" @click="isLogin = !isLogin">返回登录</div>
                </div>
            </form>
        </div>
    </div>
    <script src="./js/Login.js"></script>
</body>
</html>