<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./typeit_cy.js"></script>
    <link rel="stylesheet" href="./typeit_cy.css">
</head>
<body>
    <h1 id="typeit_text_css"></h1>
    <script>
        typeit({
            select: '#typeit_text_css',
            strings: ['你好', '欢迎'],
            lifeLike: true,
            loop: false
        });
    </script>
</body>
</html>